<div class="container">
	<div class="row">
          <h1>Apps</h1>
      <p>Vi udvikler responsive single page web apps der fungerer på mobil, ipad og laptop. Vi benytter os gerne af moderne værktøjer så som Node.js, Angular, Bootstrap og Mongo DB. Men vi har også et stort kendskab til f.eks. Java, PHP, SQL mf. 

<h1>Hvad koster en app?</h1>
      Det er svært at give en endelig pris før projektet er ordentligt belyst og de endelige krav er klarlagt. Der kan være meget store foskel i pris alt afhængig af kravne til appen. En meget simple wep app som kun skal køre i en browseren på mobil ipad og desktop koster fra 5000 kr. Her er der tale om en app der har et par sider som viser statisk indhold. En foretningsapplikation der skal håndterer brugere, håndterer betalinger, skal integrerer med andre systemer samt skal udvikles både til browser og som app til ios og Android kan koste over 100.000 kr. Derfor råder vi jeg til at kontakte os for en uforpligtende samtale om projektet så kan vi hurtigt give en ide om hvor niveauet liger for lige netop jeres app.</p><br>


</div><!-- /.col-lg-4 -->
</div>

<script>
ga('send', 'pageview', '/#/apps');
</script>
        
