<div class="container">
	<div class="row">
          <h1>Apps</h1>
      <p>Vi udvikler responsive single page web apps der fungerer på mobil, ipad og laptop. Vi benytter os gerne af moderne værktøjer så som Node.js, Angular, Bootstrap, Mongo DB. Men vi har også et stort kendskab til f.eks. Java, PHP SQL mf. Vi har et godt netværk med gode kompetancer som vi benytter os af. På den måde sikre vi den bedste kvalitet. Det er svært at give en pris før projektet er ordentligt belyst og de endelige krav er kendt. En meget simple app koster fra 5000 kr. I er velkommen til at kontakte os for at hører nærmere</p><br>

      <h1>Udviklings processen</h1>
            Alt afhængig af opgavens størelse deler vi projektet op i 4 faser.

                <ul>
                  <li>Design</li>
                  <li>Udvikling</li>
                  <li>Test</li>
                  <li>Overlevering</li>
                </ul>
              Design fasen har til formål at få afklaret alle nødvendige detaljer omkring produktet. Nogle gange har kunden allerede en helt klart ide om hvordan en app skal fungerer og se ud hvilket gør at processen går hurtigere. Men ofte er der brug for at få afklaret flere detaljer. F.eks. skal der tegnes <a href="https://en.wikipedia.org/wiki/Website_wireframe">wireframes</a> hvis det er en webside. Og hvis det er en app der har meget bruger inteaktion er det specielt wigtigt med <a href="https://da.wikipedia.org/wiki/Use_case">use cases</a><br> 

kan bistå i hele udviklings processen fra bruger analyser, usecases, fremstilling af wirefames, design, mv. Udviklingdviklingen din mobile

              <h2>Udvikling og test</h2>
              Når kunden er tilfreds med designet går vi igang med udviklingen og når produktet er færdigt tester vi ystemet for at sikre at alt fungerer som det skal og at det lever op til aftalte krav.

              <h2>Overleveringen</h2>
              Ved Overleveringen gennemgår vi produktet med jer og i får lejlighed til at vurderer det endelige produkt. 



</div><!-- /.col-lg-4 -->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71285626-1', 'auto');
  ga('send', 'pageview');
</script>
        
