
	
	

<div class="container">

		<div class="col-lg-6">
			<img class="img-responsive" src="../img/moede.jpg" alt="Udvikling af app pris" width="460" height="345">
	    </div>
		<div class="col-lg-6">
			<h3></h3> Vi benytter os ofte af vores netværk af samarbejds partnerer for at sikre at vi leverer det bedst mulige produkt.
			Udover vores stærke tekniske fundament lægger vi stor vægt på at levere en god service. Vi har bl.a. beskæftiget os med følgende teknologier.

			Java, JavaScript, Python, PHP, C
			MongoDB Express, AngularJS Nodejs
			HTML, CSS,
			DNS, GIT, VMware, Linux, EC2, Docker og MySQL, Raspberry Pi, mv.
			Joomla, Wordpress
			GIS,

			Vores ambitioner, nysgerrighed  og lysten til nye udfordringer skal dog ikke stå i vejen for fremtidige opgaver, der ikke passer ind overstående.
		</div><!-- /.col-lg-6 -->
	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71285626-1', 'auto');
  ga('send', 'pageview');
</script>