
	
	

<div class="container">

		<div class="col-lg-6">
			<img class="img-responsive" src="../img/moede.jpg" alt="Freelance java udvikler" width="460" height="345">
	    </div>
		<div class="col-lg-6">
			<h3>Software udvikling med fokus på kvalitet og service</h3>
				Vi udvikler unike software løsninger inden for et bredt område.
				Vi er stærke i både Backend og Frontent, mobile applikationer, foretnings applicationer, mv. Læs mere på de andre sider eller <a href="#kontakt"> Kontakt</a> os for en uforpligtende snak om jeres projekt.
		</div><!-- /.col-lg-6 -->
	</div>
<script>
ga('send', 'pageview', '/');
</script>