  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img" src="../img/potratSmall.png" alt="Java Freelance konsulent" width="140" height="140">
          <h2>Heading</h2>
          <p>Lapela er en freelance konsulent og software udviklings virksomhed startet 2012 af Sebastian O. Jensen. Vi lægger vi stor vægt på at levere kvalitet og yde en god service. Igennem vores netværk af experter sikre vi at leverer det bedst mulige produkt.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Teknologier</h2>
		<ul>
			<li>Java, JavaScript, Python, PHP, C</li>
			<li>MongoDB, Express, AngularJS, Nodejs</li>
			<li>GIT, VMware, Linux, EC2, Docker, GIS</li>
			<li>MySQL, Raspberry Pi, Joomla, Wordpress</li>
		</ul>
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2></h2>
          <p>Vores stærke tekniske fundament, ambitioner, nysgerrighed og vedvarende lyst til nye udfordringer skal dog ikke stå i vejen for fremtidige opgaver, der ikke passer ind overstående.
		  </p>
         
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-71285626-1', 'auto');
	ga('send', 'pageview');
</script>